page-home {

  text-align: center;

  [padding] h2:first-child{
    margin-top: 150px;
    color: #2e2e2e;
  }

  .button-md{
    background-color: #4d4d4d;
  }
  .button-md:hover{
    background-color: #a4a4a4 !important;
  }

  ion-content{
    background-image: url("../../assets/images/Grey-Background_2.jpg");
  }

}
